@import "tailwindcss";

/* Apply Inter font globally */
body {
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* Enable ligatures and contextual alternates */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Alpine.js x-cloak directive */
[x-cloak] {
  display: none !important;
}
